body {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    text-align: center;
    padding-top: 166px;
    padding-bottom: 182px;
    background-image: url(../images/mthood1.jpg);
    background-size: contain;
    color: #86dafb ;
}

h1 {
    margin: 0;
    font-size: 80px;
    line-height: 1;
}

h2 {
    margin: 0;
    font-size: 30px;
    margin-top: 16px;
    line-height: 1;
}


.section-title {
    text-align: center;
    margin-top: 0;
    padding-top: 48px;
    font-size: 40px;
    line-height: 1;
}

.container {
    width: 960px;
    padding-bottom: 39px;
    margin: auto;
    line-height: 24px;
}

p {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.52px;
    margin-top: 0;
    margin-bottom: 17px;
}

#intro-img {
    object-fit: cover;
    object-position: 75%;
    width: 400px;
    height: 300px;
    float: right;
    margin-left: 45px;
    margin-bottom: 30px;
}

#photo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-bottom: 0;
}

#photo-section li {
    display: inline-block;
    width: 90%;
    margin-bottom: 24px;
}

.photo {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    float: left;
    margin-right: 12px;
}

.photo-title { 
    font-size: 20px;
    margin: 0;
    margin-bottom: 9px;
}

#last-paragraph {
    font-size: 27px;
    line-height: 35px;
    margin: 0 125px;
    text-align: center;
}

footer p {
    padding-top: 42px;
}

.section-one {
    background-color: #5860fd;
    color: #ffffff;
}

.section-two {
    color: #ffffff;
    background-color: #5780c1;
}

.section-three {
    background-color: #86dafb;
    color: #ffffff;
    padding-bottom: 63px;
}

footer {
    color: #207498;
    background-color: #aabcf1;
}